@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #013c6c;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
